<section class="main-container">
	<p-toast [showTransitionOptions]="'0ms'" [hideTransitionOptions]="'0ms'" position="bottom-center" [baseZIndex]=9999></p-toast>
  <div *ngIf="!joined" class="login-page">
    <h1><span>Welcom to Chatroom</span></h1>
    <div class="form-content">
      <div class="form-group">
        <input pInputText [(ngModel)]="user.name" class="form-control input-underline input-lg" type="text" placeholder="Name">
      </div>
      <button type="submit" class="btn rounded-btn" (click)="join()"> JOIN </button>&nbsp;
    </div>
    {{qq}}
  </div>
  <div *ngIf="joined" class="gi-one-page">
    <div class="p-grid" style="height: 100vh;">
      <div class="p-col">
        <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between">
          <input type="text" pInputText [(ngModel)]="message" style='width: 100%;' class="p-inputtext-lg">&nbsp;
          <button pButton pRipple type="button" (click)="sendMessage()" icon="pi pi-volume-up" iconPos="right" class="p-button-info"></button>
        </div>
        <div class="message-content">
          <div *ngFor="let msg of messages.slice().reverse()" class="p-d-flex p-flex-column">
            <div class="p-mb-2 message" [ngClass]="msg.userName===user.name ? 'p-as-end':'darker p-as-start'">
              <div class='p-d-inline-flex'>
                <p-tag styleClass="p-mr-2" icon="pi pi-user" [severity]="msg.userName===user.name ? 'success': 'info'" [value]="msg.userName" [rounded]="true"></p-tag>
                <p-tag *ngIf="msg.isWhisper" styleClass="p-mr-2" icon="pi pi-envelope" severity="warning" [rounded]="true"></p-tag>
                <div class='p-mr-6'>{{msg.message}}</div>
                <p-tag styleClass="p-mr-2" icon="pi pi-clock" value="{{msg.createTime | date:'h:mm:ss a'}}" [rounded]="true"></p-tag>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="p-col-fixed" style="width:300px">
        <div>
          <p-table [value]="users" [scrollable]="true" [scrollHeight]="scrollHeight">
            <ng-template pTemplate="header">
              <tr>
                <th><h4>{{user.name}}</h4></th>
                <th [style.width]="'125px'">
                  <button pButton pRipple type="button" label="LEAVE" (click)="leave()" icon="pi pi-sign-out" iconPos="right" class="p-button-rounded p-button-warning"></button>
                </th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-u>
              <tr>
                  <td>{{u.name}}</td>
                  <td>
                    <span *ngIf="u.name===user.name">
                      <button pButton pRipple type="button" label="LEAVE" (click)="leave()" icon="pi pi-sign-out" iconPos="right" class="p-button-rounded p-button-warning"></button>
                    </span>
                    <span *ngIf="u.name!==user.name">
                      <button pButton pRipple type="button" icon="pi pi-comment" (click)="sendWhisper(u)" pTooltip="whisper" class="p-button-rounded p-button-info"></button>&nbsp;
                      <button *ngIf="!u.banned" pButton pRipple type="button" icon="pi pi-lock-open" (click)="blockUser(u)" pTooltip="block" class="p-button-rounded p-button-success"></button>
                      <button *ngIf="u.banned" pButton pRipple type="button" icon="pi pi-lock" (click)="unblockUser(u)" pTooltip="unblock" class="p-button-rounded p-button-danger"></button>
                    </span>
                  </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </div>
  </div>
</section>
<p-blockUI [blocked]="disabled"></p-blockUI>
