.main-container{
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
  padding: 10px;
	overflow: hidden;
	background: #f5f7f8
}

$topnav-background-color: #f8f8f8;
:host {
  display: block;
}
.login-page {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
	background: $topnav-background-color;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
  text-align: center;
  color: #000;
	padding: 5em;
  .gi-v-content{
    background-color:$topnav-background-color;
    opacity: 0.8;
    border-radius:10px;
    padding-top: 30px;
  }
  .input-lg {
    height: 46px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 0;
  }
  .input-underline {
    background: 0 0;
    border: none;
    box-shadow: none;
    border-bottom: 2px solid rgba(0,0,0,.5);
    color: #000;
    border-radius: 0;
  }
  .input-underline:focus {
    border-bottom: 2px solid #000;
    box-shadow: none;
  }
  .rounded-btn{
    -webkit-border-radius: 50px;
    border-radius: 50px;
    color: rgba(0,0,0,0.5);
    background: $topnav-background-color;
    border: 2px solid rgba(0,0,0,0.5);
    font-size: 18px;
    line-height: 40px;
    padding: 0 25px;
  }
  .rounded-btn:hover,.rounded-btn:focus,.rounded-btn:active,.rounded-btn:visited{
    color: rgba(0,0,0,1);
    border: 2px solid rgba(0,0,0,1);
    outline: none;
  }

  h1 {
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 36px;
    color: rgba(0,0,0,0.7);
    span {
      color: rgba(0,0,0,1);
      font-weight: bolder;
    }
  }

  .form-group {
    padding: 8px 8px;
    input::-webkit-input-placeholder {
      color: rgba(0,0,0,0.6) !important;
    }

    input:-moz-placeholder { /* Firefox 18- */
      color: rgba(0,0,0,0.6) !important;
    }

    input::-moz-placeholder {  /* Firefox 19+ */
      color: rgba(0,0,0,0.6) !important;
    }

    input:-ms-input-placeholder {
      color: rgba(0,0,0,0.6) !important;
    }
  }
  .form-content {
      padding: 40px 0;
  }
  .user-avatar {
    -webkit-border-radius: 50%;
            border-radius: 50%;
    border: 2px solid #FFF;
  }
}
